In [2]:
# if condition

order = 1000
day ="sat"
membership ="Gold"
if (order>=1000 and day in ["sat" ,"sun"]) or membership == "Gold":
    print("20% discount")
else:
    print("10% discount")

20% discount

In [3]:
# d/w for and while
"""
for loop iterates for a particular range and no condition is required to run
while loop iterates until the condition satisfies and condition is required

"""
# break (breaks at particular place)
# continue (skip the value and continuw with others)

'\nfor loop iterates for a particular range and no condition is required to ruyn\nwhile loop iterates until the condition satisfies and condition is required\n\n'

In [5]:
li = [1,2,3,4,6,7,8,5,10]
for i in li:
    if i==5:
        break
    print(i)

1
2
3
4
6
7
8

In [7]:
li = [1,2,3,4,6,7,8,5,10]
for i in li:
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
10

In [11]:
a = [1,2,-1,3,4,-4]
negative_vals=[]
positive_vals=[]
for i in a:
    if i>0:
        positive_vals.append(i)
        continue   # continue skips that value 
    negative_vals.append(i)
print(negative_vals)
print(positive_vals)

[-1, -4]
[1, 2, 3, 4]

In [13]:
# pass is a place holder (future logic) , still the code runs
for i in a:
    if i>0:
       pass

In [16]:
count=5
while count >0:
    print(f"Countdown:{count}")
    count-=1
print("Times up")

Countdown:5
Countdown:4
Countdown:3
Countdown:2
Countdown:1
Times up

In [22]:
# while true (no condition and the loop starts without condition and runs infinitely unless a check is given)
items =[]
count=1
while True:
    item = input (f"Add item {count}( Type done to finish ):")
    count+=1
    if item.lower()=="done":
        break
    items.append(item)
print(items)

Add item 1( Type done to finish ): c
Add item 2( Type done to finish ): done

['c']

In [ ]:
# functions are reusable code 
# eg. upper()
# the code for upper is already printed in a function
# Thus we are using it repeated

In [24]:
def greet():
    print("Hi welcome")
greet()

Hi welcome

In [26]:
# function with arguments (argumest are input given to the function)
def greet(name):
    print(f" Hi {name} , Welcome to coding world ")
greet("Sharm")

 Hi Sharm , Welcome to coding world

In [28]:
def add(a,b):
    print(a+b)
add(7,9)

16

In [35]:
# return is used only when you want to return the answer to another variable
def add(a,b):
    return(a+b)
result=add(2,3)
print(result)

5

In [1]:
# use the function created in another file
# use from (file name) import (function name)
# eg. from test.py import add

In [3]:
# args 
# they are used to pass multiple arguments 
def add(*args):
    total=0
    for num in args:
        total+=num
    return total
print(add(0,1,2,3,4))

10

In [6]:
#kwargs
#to pass key value pairs
def create_profile(**kwargs):
    print("User profile")
    for key, value in kwargs.items():
        print(f"{key}:{value}")
create_profile(name ="Sharu",age=21,job="data engineer")

User profile
name:Sharu
age:21
job:data engineer

In [7]:
# lists
# elements can be added in list
# list are ordered (based on index)
# mutable (can make changes in the list)
# can have multiple data types

In [12]:
# list methods
# 1. APPEND
pl=["Good for you" ,"YAD" ,"Summertime sadness" ,"Young and beautiful","Cry for me"] # original list is also changed and hence mutable
print("SPOTIFY PLAYLIST :" , pl)
pl.append("Die with a smile")
pl

SPOTIFY PLAYLIST : ['Good for you', 'YAD', 'Summertime sadness', 'Young and beautiful', 'Cry for me']

['Good for you',
 'YAD',
 'Summertime sadness',
 'Young and beautiful',
 'Cry for me',
 'Die with a smile']

In [15]:
# 2. INSERT
#b/w insert and append (append adds the element at the last always and insert adds an element in a particular position)
# syntax : list.insert( position, insertion)
pl.insert(1,"Harleys in Hawai")
print("After insert:", pl)

After insert: ['Good for you', 'Harleys in Hawai', 'Harleys in Hawai', 'Harleys in Hawai', 'YAD', 'Summertime sadness', 'Young and beautiful', 'Cry for me', 'Die with a smile']

# 3. REMOVE
pl.remove("Die with a smile") # particular element
print("After removing")
pl

In [21]:
# 4. POP # last element 
pl.pop()
print("After pop:")
print(pl)

After pop:
['Good for you', 'Harleys in Hawai', 'Harleys in Hawai', 'Harleys in Hawai', 'YAD']

In [24]:
pl.pop(0) # index pop
print(pl)

['Harleys in Hawai', 'Harleys in Hawai', 'YAD']

In [29]:
# REVERSE
pl = ["Good for you" ,"YAD" ,"Summertime sadness" ,"Young and beautiful","Cry for me"]
pl.reverse()
print(pl)

['Cry for me', 'Young and beautiful', 'Summertime sadness', 'YAD', 'Good for you']

In [37]:
print(pl)

['Cry for me', 'Young and beautiful', 'Summertime sadness', 'YAD', 'Good for you']

In [31]:
print(pl.count("YAD")) # to get the position

1

In [33]:
# LIST SLICING # start: stop: step
print("Top 2 songs")
pl[0:2]

Top 2 songs

['Cry for me', 'Young and beautiful']

In [39]:
print("LAst two locations")
pl[-2:]

LAst two locations

['YAD', 'Good for you']

In [41]:
# LIST ITERATION
food = ["Briyani" ,"paneer tikka" , "Alfaham chicken" , "Paneer Butter masala"]
for f in food:
    print(f)

Briyani
paneer tikka
Alfaham chicken
Paneer Butter masala

In [9]:
# to merge two list with for loop consider length of list or zip of lists
singer = ["Weeknd" ,"Lana del Rey" ,"Lana Del Rey" ,"Vanna Rainella" ,"Selena Gomez"]
playlist= ["Good for you" ,"YAD" ,"Summertime sadness" ,"Young and beautiful","Cry for me"]
# method 1
art=[]
for i in range (len(singer)):
    art.append(f"{singer[i]} : {playlist[i]}")
    
print(art)

['Weeknd : Good for you', 'Lana del Rey : YAD', 'Lana Del Rey : Summertime sadness', 'Vanna Rainella : Young and beautiful', 'Selena Gomez : Cry for me']

In [12]:
# method 2
singer = ["Weeknd" ,"Lana del Rey" ,"Lana Del Rey" ,"Vanna Rainella" ,"Selena Gomez"]
playlist= ["Good for you" ,"YAD" ,"Summertime sadness" ,"Young and beautiful","Cry for me"]
merged = [f"{i} : {j}" for i ,j in zip(singer,playlist)]
print(merged)

['Weeknd : Good for you', 'Lana del Rey : YAD', 'Lana Del Rey : Summertime sadness', 'Vanna Rainella : Young and beautiful', 'Selena Gomez : Cry for me']

In [20]:
[ i**2 if i%2==0 else i**3 for i in range(0,7) if i%2==0 or i%3==0]

[0, 4, 27, 16, 36]

# LIST COMPREHENSION
# [expression for item in iterable]
[i**2 for i in range (0,10)]
# [expression for item in iterable if condition]
[i**3 for i in range (0,10) if i%3==0]
# [expression_if_true if condition else expression_if_false for item in iterable]
[i**2 if i%2==0 else i**3 for i in range (0,10)]
# [expression_if_true if condition else expression_if_false for item in iterable if filter_condition]
[i**2 if i%2==0 else i**3 for i in range (0,10) if i%2==0 or i%3==0]

[     expression     for     item     in     iterable     ]
       ðŸ‘‡               ðŸ‘‡         ðŸ‘‡          ðŸ‘‡
   What to do      variable     loop        data
   with each        name       control     source
     item

[     expression     for     item     in     iterable     if     condition     ]

[     expr_if_true     if     condition     else     expr_if_false     for     item     in     iterable     ]

| Type                    | Syntax Example                                   | Description                        |
| ----------------------- | ------------------------------------------------ | ---------------------------------- |
| Basic                   | `[x for x in iterable]`                          | Simple transformation              |
| With Filter             | `[x for x in iterable if condition]`             | Only include items matching filter |
| With If-Else Expression | `[a if cond else b for x in iterable]`           | Use condition inside output part   |
| Combined                | `[a if cond else b for x in iterable if filter]` | Both transformation + filtering    |

In [34]:
# membership in list
food = ["Briyani" ,"paneer tikka" , "Alfaham chicken" , "Paneer Butter masala"]
if "Briyani" in food:
    print("Yes")

Yes

In [36]:
# replace
food[1] = "Shawarma"
print(food)

['Briyani', 'Shawarma', 'Alfaham chicken', 'Paneer Butter masala']

In [40]:
food.insert(1,"C")
print(food)

['Briyani', 'C', 'C', 'Chocolate', 'Chocolate', 'Shawarma', 'Alfaham chicken', 'Paneer Butter masala']

In [42]:
print(food.count("Shawarma"))

1

In [44]:
print(food.index("Shawarma"))

5

In [52]:
# ENUMERATE 
# getting two arguments and printing the index position also
food = ["Briyani" ,"paneer tikka" , "Alfaham chicken" , "Paneer Butter masala"]
for i , food in enumerate (food):
    print(f"{i} : {food}")

0 : Briyani
1 : paneer tikka
2 : Alfaham chicken
3 : Paneer Butter masala

In [54]:
# TUPLES
# immutable that is we cant change an element
# all data types can be entered
# braces
# ordered
# count and index can be used
# tuple i sfaster than list in readonly
# list is dynamic that is can be changed
trip = ("ubergo" ,"chennai" ,3.14 , 2+1j , 450 , None , True)
print(trip)

('ubergo', 'chennai', 3.14, (2+1j), 450, None, True)

In [56]:
trip[1]

'chennai'

In [58]:
for item in trip:
    print(item)

ubergo
chennai
3.14
(2+1j)
450
None
True

In [60]:
print(len(trip))

7

In [64]:
print(trip.count("chennai"))
print(trip.index(3.14))

1
2

In [65]:
# IMMUTABLE

# SET
1. unodered /n
2. union (|) , intersection (&) , difference(-)
3. set.update([multiple values])
4. set. clear()
5. set.remove()
6. set. add()
7. We cant change a particular value we have to remove and add a new value eg, {1,2,3} , set.remove(2) , set.add(5)
8. set.discard() this does not show error even if the value is not present
9. cant access by index
10. set stores values based on hash and not order of insertion and hence they are unordered

In [69]:
uber = {"Chennai" ,"Banglore" ,"Chennai" ,"Delhi", "Banglore"}
uber2 ={"Coimbatore" ,"Banglore" ,"Madurai" ,"Karur" ,"Trichy"}
unique = set(uber) # REMOVING DUPLICATES for list
print(unique)

{'Banglore', 'Chennai', 'Delhi'}

In [72]:
print(uber|uber2) # or uber.union(uber2)

{'Banglore', 'Trichy', 'Chennai', 'Delhi', 'Madurai', 'Karur', 'Coimbatore'}

In [75]:
print(uber&uber2) # common items or uber.intersection(uber2)

{'Banglore'}

In [77]:
print(uber-uber2) # prints difference in set 1

{'Chennai', 'Delhi'}

In [79]:
print(uber2-uber)

{'Trichy', 'Karur', 'Coimbatore', 'Madurai'}

In [83]:
uber.update(["neyveli" ,"Thanjavur"])
print(uber)

{'Banglore', 'Chennai', 'Delhi', 'neyveli', 'Thanjavur'}

# DICTIONARY
1. KEY VALUE PAIRS
2. unordered
3. mutable
4. cant access by index
5. Unorderd becaus eit stores values and uses hasj=h function to map keys and not ordre of insertion
6. this allows fast lookup , insertions and deletions
7. Both sets and dictionaries are faster as set mebership checking and dictionary based on key search
8. Tuples are faster than list because immutable

# IMPORTANT NOTE !
1. Hashable(immutable) and Unhashable (mutable)
2. sets are mutable therefore not hashable
3. elements in the set must be hashable include numbers , string , tuples where the original is not changed and a new object is created and stored by hash values
4. unhashable objects include sets , dictionaries and list

# FAST COMPARISON
1.  Fastest (for access & operations)
| Data Type | Speed        | Reason                                            |
| --------- | ------------ | ------------------------------------------------- |
| `int`     | ðŸŸ¢ Very Fast | Fixed size, immutable, directly stored in memory. |
| `float`   | ðŸŸ¢ Very Fast | Similar to int, stored directly in memory.        |
| `bool`    | ðŸŸ¢ Very Fast | Subclass of `int`, uses 0 or 1 internally.        |
| `None`    | ðŸŸ¢ Very Fast | Singleton object, comparisons and usage are fast. |

2. âš¡ Fast (with minor overheads)

| Data Type | Speed   | Reason                                                                                    |
| --------- | ------- | ----------------------------------------------------------------------------------------- |
| `tuple`   | ðŸŸ¡ Fast | Immutable, fixed-size, faster than list for iteration.                                    |
| `string`  | ðŸŸ¡ Fast | Immutable, stored as sequence of characters, fast for access but slower for modification. |
| `complex` | ðŸŸ¡ Fast | Slightly more overhead than float due to real+imag part.                                  |

3. ðŸ¢ Slower (due to flexibility and mutability)

| Data Type | Speed       | Reason                                                                           |
| --------- | ----------- | -------------------------------------------------------------------------------- |
| `list`    | ðŸ”´ Moderate | Mutable, dynamic resizing, slower than tuples.                                   |
| `set`     | ðŸ”´ Moderate | Fast membership test, but unordered and uses hash.                               |
| `dict`    | ðŸ”´ Moderate | Fast for lookup, but higher memory and CPU due to hashing and key-value mapping. |

4. ðŸ” Typical Speed Ranking (Access/Lookup):

5.  int â‰ˆ float â‰ˆ bool > None > tuple > string > complex > list > set > dict

6. ðŸ§  Summary:

7. For computation: int, float, bool are fastest.

8. For iteration: tuple is faster than list.

9. For membership tests: set and dict are faster than list, but with more overhead.

10. For modification: list, dict, and set are more flexible but slower.

11. None is very light, but used for null-like values.

In [98]:
# dict.get (key) no error will come
# dict[key] if no key error
trip ={"Name" :"Sharmila" , "Age" : 21 ,"drop" :["Airport","Surapet","tidel"] ,"driver" :"driver 1"}
print(trip["Name"])
print(trip.get("SHaru")) # will not give error

Sharmila
None

In [99]:
print(trip.keys()) # key an d value extraction
print(trip.values())

dict_keys(['Name', 'Age', 'drop', 'driver'])
dict_values(['Sharmila', 21, ['Airport', 'Surapet', 'tidel'], 'driver 1'])

In [100]:
for key , values in  trip.items():
    print(f"{key} :{values}")

Name :Sharmila
Age :21
drop :['Airport', 'Surapet', 'tidel']
driver :driver 1

In [101]:
trip.update({"car model":"suzuki"}) # absurd (if there is key update or it will insert a new key)
print(trip)

{'Name': 'Sharmila', 'Age': 21, 'drop': ['Airport', 'Surapet', 'tidel'], 'driver': 'driver 1', 'car model': 'suzuki'}

In [103]:
# if duplicates are present it will tak ethe lastest duplicate and no error will come
print(trip["drop"][2])

tidel

In [105]:
for i in trip["drop"]:
    print(i)

Airport
Surapet
tidel

In [111]:
 # can create a multiple dictionaries
trips = [{"Name":"Sam" , "pickup":"Surapet" ,"time":3.45 ,"drop":"Tambaram" ,"driver":"driver1" ,"car model" :"suzuki"},
         {"Name":" Milan" , "pickup":"Kolathur" ,"time":4.45 ,"drop":"Tharamani" ,"driver":"driver2" ,"car model" :"swift"},
         {"Name":"Dala" , "pickup":"Kodambakkam" ,"time":5.45 ,"drop":"vadapalani" ,"driver":"driver3" ,"car model" :"ertiga"},
        ]
for trip in trips:
    print(trip["Name"], trip["pickup"])

Sam Surapet
 Milan Kolathur
Dala Kodambakkam

In [118]:
trips = {"UB001": {"Name":"Sam" , "pickup":"Surapet" ,"time":3.45 ,"drop":"Tambaram" ,"driver":"driver1" ,"car model" :"suzuki"},
         "UB002": {"Name":" Milan" , "pickup":"Kolathur" ,"time":4.45 ,"drop":"Tharamani" ,"driver":"driver2" ,"car model" :"swift"},
         "UB003": {"Name":"Dala" , "pickup":"Kodambakkam" ,"time":5.45 ,"drop":"vadapalani" ,"driver":"driver3" ,"car model" :"ertiga"},
        }

In [121]:
print("DROP 1" ,trips["UB001"]["drop"])

DROP 1 Tambaram

In [125]:
for trip_id , details in trips.items():
    print(trip_id)
    print(details["pickup"],"-->",details["drop"])

UB001
Surapet --> Tambaram
UB002
Kolathur --> Tharamani
UB003
Kodambakkam --> vadapalani